<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Spring Login Form</title>
</head>
<body style="height:100%;
    width:100%;
    position:absolute;">
<div style="background: #7CA5B8;
    width: 100%;
    height: 100%">
<div class="form-group"
     style=" position: absolute;
    top: 30%;
    left: 50%;border-radius: 10%;
    background: #C6EBBE;
    transform: translate(-50%, -50%);
    text-align: center;padding: 1%;
    border: 2px solid #38369A; "
     >
<form  th:action="@{/connect}" method="POST" >
    <br/>


    <div class="form-group" >
        <label style="color: #38369A" for="InputEmail">Email address</label>
        <input type="email" name="email" class="form-control" id="InputEmail"
               aria-describedby="emailHelp" placeholder="Enter email" th:value="email">
    </div>
    <div class="form-group" >
        <label style="color: #38369A" for="InputPassword">Password</label>
        <input  type="password" name="password" class="form-control"
                id="InputPassword" placeholder="Password" th:value="mdp">
    </div>
        <span th:if="${error}">
    <div id="form-group">
        <a class="alert alert-danger" th:text="${error}"></a>
    </div>
            </span>
    <br/>

    <button type="submit" class="btn btn-primary">Submit</button>
    <br/>

</form>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>