<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body style="height:100%;
    width:100%;
    position:absolute;">
<div style="background: #7CA5B8;
    width: 100%;
    height: 100%">
<h1>Trajets</h1>
<h2 th:utext="${userSession.nom} + ' ' + ${userSession.prenom}"></h2>

    <div class="table-striped"
         style=" position: absolute;
    top: 45%;
    left: 50%;
    border-radius: 3%;
    background: #C6EBBE;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1%;
    width: 90%;
    height: 70%;
    border: 2px solid #38369A;"
    >
<table class="table-responsive-lg" style="border: medium midnightblue;border-radius: 5%; width: 100%; height: 100% " border="2px solid #38369A;">
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Vehicule</th>
        <th scope="col">Barème</th>
        <th scope="col">Destination</th>
        <th scope="col">Arrivée</th>
        <th scope="col">Modalité</th>
        <th scope="col">Distance</th>
        <th scope="col">Prix</th>


    </tr>
    <tr th:each="trajet : ${pagedrives.content}">
        <td th:utext="${trajet.date}" ></td>
        <td th:utext="${trajet.commentaire}"></td>
        <td th:utext="${trajet.vehicule.constructeur} +' '+${trajet.vehicule.modele}"></td>
        <td th:utext="'('+${trajet.vehicule.categorie}+') '+${trajet.bareme.chevaux}+' cv'"></td>
        <td th:utext="${trajet.aller}"></td>
        <td th:utext="${trajet.retour}"></td>
        <td th:utext="${trajet.modalite}"></td>
        <td th:utext="${trajet.distanceKm}+' Km'"></td>
        <td th:utext="${trajet.prix}+' €'"></td>







    </tr>

</table>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>